<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %><br><br></p>
  <p><input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar"></p>
</form>
<br>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button> Nuevo comentario </button></a></p>

<table id="tblComentarios" class="centrada">
  <tr>
    <td><strong>Comentarios:</strong></td>
  </tr>	
  <%for(index in quiz.Comments){%>
  
	<%if(quiz.Comments[index].publicado || session.user){%>  
		<tr>
			<td align="left">
				<%= quiz.Comments[index].texto %> 
				<% if(session.user && !quiz.Comments[index].publicado){%>
					
					<form style="display:inline;" method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put">
						<button type="submit" >	Publicar </button>		   
					</form>					
									  
				<%}%>
			</td>	  
		</tr>  
	<%}%>  

 <%}%>
</table>